<html>
   <body>
      <h1>Product of the Week: <%= product %></h1>
      <p>Sources</p>
      <ul>
        <% sources.forEach(function(source) { %>
            <li><a href="<%= source %>"><%= source %></a></li>
        <% }); %>
      </ul>
      <p>Similar Products</p>
      <ul> 
        <% similarProducts.forEach(function(similarProduct) { %>
            <li><a href="<%= similarProduct %>"><%= similarProduct %></a></li>
        <% }); %>
      </ul>
   </body>
</html>